.App {
  background-color: rgb(199, 199, 199);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Display {
  height: 100vh;
}

.home {
  padding-top: 10vh;
  font-size: .8vw;
  align-content: center;
  color: rgb(72, 146, 243);
}

.current {
  padding-top: 10vh;
  font-size: 1vw;
  align-content: center;
  color: rgb(72, 146, 243);
}

.alerts {
  padding-top: 10vh;
  font-size: .8vw;
  align-content: center;
  color: rgb(72, 146, 243);
}

.radar {
  padding-top: 10vh;
  font-size: .8vw;
  align-content: center;
  color: rgb(72, 146, 243);
}

.history {
  padding-top: 10vh;
  font-size: .8vw;
  align-content: center;
  color: rgb(72, 146, 243);
}

.threeDay {
  padding-top: 10vh;
  font-size: .8vw;
  align-content: center;
  color: rgb(72, 146, 243);
}

.fiveDay {
  padding-top: 10vh;
  font-size: .8vw;
  align-content: center;
  color: rgb(72, 146, 243);
}

.sevenDay {
  padding-top: 10vh;
  font-size: .8vw;
  align-content: center;
  color: rgb(72, 146, 243);
}